/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Parisienne');


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background:url("/dist/img/background.jpg");
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
	border: 1vw solid black;
}

.content{
	background: rgba(225,225,225,0.4);
}

#app{
	padding: 2vw;
}

h1 {
	font-size: 7vw;
	font-weight: bold;
	text-align: center;
	font-family: Parisienne;
}

ul {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	align-content: flex-start;
	li {
		text-align: center;
		width: 210px;
		border: 1px solid #000;
		padding: 10px;
		margin: 10px 5px;
		background: rgba(225,225,225,0.5);
		h3 {
			font-size: 18pt;
			font-weight: bold;
		}
		p {
			font-size: 12pt;
			color: #000;
		}
	}
}


h2 {
	font-size: 4vw;
	margin-top: 50px;
	font-family: Parisienne;

}

form{
	display: flex;
}

input {
	font-size: 15pt;
	padding: 5px 8px;
	margin-right: 10px;
	border: 1px solid black;
}

.btn-grad {
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: black;
	padding: 10px;
	border: 1px solid black;
	top: -3px;
	height: auto;
	position: relative;

	font-weight: bold;

	background-image: linear-gradient(to right, #83a4d4 0%, #b6fbff 51%, #83a4d4 100%);
	&:hover { 
		background-position: right center;
	}
}